---
context: "EMAILTEST"
lang: "en"
runnable: False
mail_smtp_host: "www.weeklyosm.eu"
mail_smtp_port: 587
url: "https://www.weeklyosm.eu/"
do_mail: True # " wenn dieses auskommentiert wird, wird der paramterer "--mail" ignoriert
do_twitter: False #" wenn dieses auskommentiert wird, wird der paramterer "--twitter" ignoriert und NICHT getwittert
do_mastodon: False #" wenn dieses auskommentiert wird, wird der paramterer "--mastodon" ignoriert und NICHT getootet
do_forum: False
mail_from: "weeklyteam <{c.mail_USER}>"
mail_subject: "Python email test"
mail_to:
    - "test@test.com" # this property gets overwritten in the file with the same name found in configs/private/mailto/ folder
mail_body: |
    This is test...
    This is _only_ a test!
    With a link: {c.url}


    and empty lines:


    lots!

    If you can read this be happy! the spamtool is now available with yaml-config files!
